<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Market{% endblock %}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<header class="bg-dark text-white py-3 mb-4">
    <div class="container d-flex justify-content-between align-items-center">
            <div class="logo">
                <a href="{% url 'products_view' %}" class="text-white text-decoration-none h4">My Market</a>
            </div>
        <nav>
            <ul class="nav">
                    <li class="nav-item"><a href="{% url 'products_view' %}" class="nav-link text-white">Products</a></li>
                    <li class="nav-item"><a href="{% url 'product_add_view' %}" class="nav-link text-white">Add Product</a></li>
                    <li class="nav-item"><a href="{% url 'category_add_view' %}" class="nav-link text-white">Add Category</a></li>
                    <li class="nav-item"><a href="{% url 'categories_view' %}" class="nav-link text-white">Categories</a></li>

            </ul>
        </nav>
    </div>
</header>
    <main class="container">
        {% block content %}


        {% endblock %}
    </main>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>