{% extends "base.html"%}

{% block content %}
<form action="" method="post">{% csrf_token %}


        <h5 class="title">Подтверждение удаление продукта</h5>
      </div>
      <div class="modal-body">
        <p>Вы действительно хотите удалить {{ product.name }}?</p>
      </div>
      <div class="">
          <a href="{% url "products_view" %}"><button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Нет</button></a>
        <button type="submit" class="btn btn-danger">Да</button>
      </div>

</form>
{% endblock %}